.about {
    background-color: white;
    border-radius: 10px;

    // .about__content

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        padding: 35px;
        max-width: 1000px;
    }

    // .about__paragraph

    &__paragraph {
        margin-bottom: 30px;

        &:last-child{
            margin-bottom: 0px;
        }
    }
}
.paragraph {

    // .paragraph__title

    &__title {
        font-size: 26px;
        font-weight: 500;
        line-height: 26px;

        margin-bottom: 15px;
    }

    // .paragraph__text

    &__text {
        font-size: 16px;
        line-height: 18px;
    }
}
.info-about {

    // .info-about__row

    &__row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        margin-bottom: 15px;
        &:last-child{
            margin-bottom: 0;
        }
    }

    // .info-about__name

    &__name {
        font-weight: 500;
    }

    // .info-about__description

    &__description {
        margin-left: 15px;
    }

    // .info-about__link

    &__link {
        color: black;
        &:hover{
            text-decoration: underline;
        }
    }
}
