.page {

    // .page__main

    &__main {
    }
}
.department {

    // .department__content

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    // .department__block

    &__block {
        padding: 35px;
        background-color: white;
        border-radius: 10px;

        position: relative;

        &:first-child{
            margin-bottom: 20px;
        }
    }

    // .department__сhief

    &__сhief {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    // .department__paragraph

    &__paragraph {
        font-size: 16px;
        font-weight: normal;
        line-height: 18px;
    }

    // .department__list

    &__list {
        font-size: 16px;
        font-weight: normal;
        line-height: 18px;

        margin: 10px 0;

        li{
            position: relative;
            margin-left: 15px;
            padding: 10px;
            &:before {
                position: absolute;
                content: "";
                left: -15px;
                top: 16px;
                height: 8px;
                width: 8px;
                border-radius: 50%;
                background-color: $main-dark-blue;
            }
        }
    }
}
.chief {

    // .chief__photo

    &__photo {
        img{
            object-fit: cover;
            width: 200px;
            height: 254px;
            border-radius: 10px;
        }
    }

    // .chief__info

    &__info {
        margin-left: 15px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    // .chief__name

    &__name {
        font-size: 26px;
        line-height: 28px;
        font-weight: 500;
    }

    // .chief__position

    &__position {
        font-size: 16px;
        line-height: 18px;
    }

    // .chief__contacts

    &__contacts {
        font-size: 16px;
        line-height: 18px;

        color: black;
    }

    // .chief__link

    &__link {
        font-size: 16px;
        line-height: 18px;

        color: black;
        text-decoration: underline;
    }

    // .chief_record

    &__record {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        span{
            font-size: 18px;
            color: $main-dark-blue;
            width: 30px;
            text-align: center;
        }
    }
}
.department-slider {
    width: 1075px;

    position: relative;
    margin: 30px 0;

    // .department-slider__item

    &__item {
        img{
            object-fit: cover;
            width: 340px;
            height: 225px;
            border-radius: 10px;
        }
    }
}
