.page {
    // .page__main

    &__main {
    }
}

.info-page {
    // .info-page__content

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    // .info-page__block

    &__block {
        padding: 25px;
        background-color: white;
        border-radius: 10px;

        position: relative;

        &:first-child {
            margin-bottom: 20px;
        }
    }

    // .info-page__paragraph

    &__paragraph {
        font-size: 16px;
        font-weight: normal;
        line-height: 18px;
    }

    // .info-page__list

    &__list {
        font-size: 16px;
        font-weight: normal;
        line-height: 18px;

        margin: 10px 0;

        li {
            position: relative;
            margin-left: 15px;
            padding: 10px;
            &:before {
                position: absolute;
                content: "";
                left: -15px;
                top: 16px;
                height: 8px;
                width: 8px;
                border-radius: 50%;
                background-color: $headerTopBgColor;
            }
        }
    }
}

.employees {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    // .employees__info

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1 1 auto;
    }

    // .employees__title

    &__title {
        font-size: 26px;
        line-height: 28px;
        font-weight: 500;
    }

    // .employees__sub-title
    // ???
    &__sub-title {
        position: relative;

        font-size: 16px;
        line-height: 18px;

        padding: 10px 0;
        margin-bottom: 10px;

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: linear-gradient(to right, #0d58ba00, $headerTopBgColor 30% 70%, #0d58ba00);
        }
    }

    // .employees__status
    // здесь не нужно
    &__status {
        position: relative;

        font-size: 18px;
        line-height: 18px;
        font-weight: bold;
        color: #606060;

        margin-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 10px;

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: linear-gradient(to right, #0d58ba00, $headerTopBgColor 30% 70%, #0d58ba00);
        }
    }
    // .employess__table
    &__table {
        font-size: 18px;
        line-height: 18px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;

        table {
            border-collapse: collapse;
            white-space: nowrap;
            th {
                border-bottom: 1px solid;
                font-weight: normal;
                color: #606060;
                padding: 5px 10px 10px 7px;
                text-align: center;
            }
            tr {
                border-bottom: 1px solid;
                &:last-child {
                    border-bottom: none;
                }
            }

            td {
                font-weight: normal;
                padding: 10px 15px;
                text-align: center;
            }
        }
    }

    // .employees__contacts

    &__content {
        font-size: 16px;
        line-height: 18px;

        color: black;
    }
}

.contact {
    // .contact__list

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        li {
            margin-bottom: 20px;
        }
    }

    // .contact__link
    // link margin bottom убрать
    &__link {
        color: black;
        //margin-bottom: 20px;
        display: inline-block;
        vertical-align: middle;
    }

    // .person_record3
    // изменен на центровку по центру
    // это для таблицы состав сотрудников
    &__record3 {
        display: flex;
        flex-direction: row;
        // изменен на center. Был на flex-start
        justify-content: center;
    }

    // .contact__icon

    &__icon {
        font-size: 18px;
        color: $headerTopBgColor;
        width: 30px;
        text-align: center;
    }
}

._phone {
}
._mail {
    text-decoration: none;
}
._link {
    text-decoration: underline;
}
