.page {

    // .page__main

    &__main {
    }
}

.info-page {

    // .info-page__content

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    // .info-page__block

    &__block {
        padding: 35px;
        background-color: white;
        border-radius: 10px;

        position: relative;

        &:first-child{
            margin-bottom: 20px;
        }
    }

    // .info-page__paragraph

    &__paragraph {
        font-size: 16px;
        font-weight: normal;
        line-height: 18px;
    }

    // .info-page__list

    &__list {
        font-size: 16px;
        font-weight: normal;
        line-height: 18px;

        margin: 10px 0;

        li{
            position: relative;
            margin-left: 15px;
            padding: 10px;
            &:before {
                position: absolute;
                content: "";
                left: -15px;
                top: 16px;
                height: 8px;
                width: 8px;
                border-radius: 50%;
                background-color: $headerTopBgColor;
            }
        }
    }
}

.person {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    // .person__photo

    &__photo {
        img{
            object-fit: cover;
            width: 200px;
            height: 254px;
            border-radius: 10px;
        }
    }

    // .person__photo

    &__photo2 {
        img{
            object-fit: cover;
            //width: 150px;
            min-width: 150px;
            height: 190px;
            border-radius: 10px;
        }
    }

    // .person__info

    &__info {
        margin-left: 30px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    // .person__info
    // mini
    &__info2 {
        margin-left: 10px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    // .person__title

    &__title {
        font-size: 26px;
        line-height: 28px;
        font-weight: 500;
    }

     // .person__title 
     // mini

     &__title2 {
        font-size: 14px;
        line-height: 14px;
        font-weight: 300;
    }

    // .person__sub-title
    // можно удалить 
    &__sub-title {
        position: relative;

        font-size: 16px;
        line-height: 18px;

        padding-bottom: 10px;
        margin-bottom: 10px;

        &:after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: linear-gradient(to right, #0d58ba00, $headerTopBgColor 30% 70%, #0d58ba00);
        }
    }

    // .person__status

    &__status {
        position: relative;

        font-size: 18px;
        line-height: 18px;
        font-weight: bold;
        color: #606060;

        margin-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 10px;

        &:after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: linear-gradient(to right, #0d58ba00, $headerTopBgColor 30% 70%, #0d58ba00);
        }
    }

    // .person__status

    &__status2 {
        position: relative;

        font-size: 14px;
        line-height: 14px;
        font-weight: bold;
        color: #606060;

        margin-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 10px;

        &:after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: linear-gradient(to right, #0d58ba00, $headerTopBgColor 30% 70%, #0d58ba00);
        }
    }

    // .person__contacts

    &__content {
        font-size: 16px;
        line-height: 18px;
        color: black;
    }

    // .person__contacts
    // mini
    &__content2 {
        font-size: 12px;
        line-height: 13px;
        color: black;
    }
}

.contact{

    // .contact__list

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        li {
            margin-bottom: 20px;
        }
    }

    // .contact__link

    &__link {
        color: black;
        //margin-bottom: 20px;
        display: inline-block;
    }

    // .person_record

    &__record {
        display: flex;
        flex-direction: row;
        // изменен на center
        justify-content: flex-start;
        //margin-bottom: 20px;
    }

    // .contact__icon

    &__icon {
        font-size: 18px;
        color: $headerTopBgColor;
        width: 30px;
        text-align: left;
    }

    // .contact__list2

    &__list2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        li {
            margin-bottom: 0px;
        }
    }

    // .contact__link

    &__link {
        color: black;
        display: inline-block;
    }

    // .person_record2
    // это для маленьких карточек
    // flex-start
    &__record2 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 5px;
    }

    // .contact__icon2
    // mini

    &__icon2 {
        font-size: 12px;
        color: $headerTopBgColor;
        width: 19px;
        text-align: center;
    }
}



._phone {
}
._mail {
    text-decoration: none;
}
._link {
    text-decoration: none;
}

.department {

    // .department__content

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    // .department__block

    &__block {
        padding: 20px;
        background-color: white;
        border-radius: 10px;

        position: relative;

        &:first-child{
            margin-bottom: 20px;
        }
    }

    // .department__сhief

    &__сhief {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        //align-items: flex-start;
    }

    // .department__napravl

    &__napravl5 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        flex: 0 1 50%;
        align-items: stretch;

        transition: display 1s ease-out 0s;
    }

    &__napravl6 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        flex: 0 1 50%;
        align-items: stretch;

        transition: display 1s ease-out 0s;
    }

    // .department__tile

    &__tile {
        display: flex;
        flex-direction: column;
        flex:0 0 calc(50% - 30px);
        box-sizing: border-box;
        padding: 15px;
        margin: 15px 15px;
        max-width: 500px;
        min-width: 320px;
        background-color: white;
        border-radius: 10px;
        position: relative;
        box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    }

    &__tile2 {
        display: flex;
        flex-direction: row;
        flex:0 0 calc(50% - 30px);
        box-sizing: border-box;
        padding: 15px;
        margin: 15px 15px;
        max-width: 500px;
        min-width: 320px;
        background-color: white;
        border-radius: 10px;
        position: relative;
        box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    }



    // .department__title

    &__title {
        display: flex;
        flex-direction: row;
        font-size: 26px;
        line-height: 31px;
        //font-weight: bold;
        color: #041c3b;
        margin: 10px 0;

        button{
            color: blue;
        }
    }

    // .department__paragraph

    &__paragraph {
        font-size: 18px;
        font-weight: normal;
        line-height: 22px;
        color: #041c3b;
    }

    // .department__list

    &__list {
        font-size: 16px;
        font-weight: normal;
        line-height: 22px;

        margin: 10px 0;

        li{
            position: relative;
            margin-left: 15px;
            padding: 10px;
            &:before {
                position: absolute;
                content: "";
                left: -15px;
                top: 16px;
                height: 8px;
                width: 8px;
                border-radius: 50%;
                background-color: $headerTopBgColor;
            }
        }
    }
}

#btn_5{
    font-size: 26px;
    line-height: 31px;
    //font-weight: bold;
    color: #041c3b;
    background-color: white;
    text-align: center;
}

#btn_6{
    font-size: 26px;
    line-height: 31px;
    //font-weight: bold;
    color: #041c3b;
    background-color: white;
    text-align: center;
}

.department-slider {
    width: 100%;

    position: relative;
    margin: 30px 0;

    // .department-slider__item

    &__item {
        img{
            object-fit: cover;
            width: 95%;
            height: 225px;
            border-radius: 10px;
        }
    }
}


