$fontMainContent: "Inter";
$fontMainSectionTitle: "Inter";
$fontMainTags: "Inter";
$fontMainNewsDate: "Inter";

.page {

    // .page__header

    &__header {
        position: relative;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        
        font-weight: 500;
        line-height: 1.5em;
        padding: 20px 0;

        margin-bottom: 40px;

        @media (max-width: $for-phone-only + px) {
            flex-direction: column;
        }

        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: linear-gradient(to right, #0d58ba00, $main-dark-blue 30% 70%, #0d58ba00);
        }
    }

    // .page__print
    
    &__print {
        color: $main-dark-blue;
        flex: 0 0 auto;

        &:before {
            margin: 0 5px 0 0;
        }

        line-height: 1.5em;
    }

    // .page__breadcrumb

    &__breadcrumb {
    }

    // .page__wrapper

    &__wrapper {
        font-family: $fontMainContent;
        font-style: normal;
        font-weight: normal;
    }

    // .page__row

    &__row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        margin: 0 -20px;

        @media (max-width: $for-tablet-and-phone-only + px) {
            flex-direction: column;
            margin: 0 -15px;
        }
    }

    // .page__title

    &__title {
        margin-bottom: 30px;

        color: #041C3B;
    }

    // .page__left-menu

    &__sidebar {
        flex: 0 0 300px;

        padding: 0 20px;
        margin: 0 0 40px 0;

        @media (max-width: $for-tablet-and-phone-only + px) {
            flex: 0 0 auto;
            padding: 0 15px;
        }
    }

    // .page__content

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        font-size: 14px;

        margin-bottom: 30px;
    }

    // .page__main

    &__main {
        width: 100%;
        padding: 0 20px;

        @media (max-width: $for-tablet-and-phone-only + px) {
            padding: 0 15px;
        }
    }
}

.breadcrumbs {

    // .page__item

    &__item {
        display: inline-block;
        color: $main-dark-blue;

        &:before {
            content: "»";
            color: #222;
        }

        &:first-child {
            &:before {
                content: "";
            }
        }

        &._active {
            color: #222;
        }
    }

    // .page__link

    &__link {
        color: $main-dark-blue;
        line-height: 1.5em;

        &:hover {
            text-decoration: underline;
        }
    }

}

.info-page {

    position: relative;

    // .info-page__content

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        position: relative;

        a {
            transition: .2s ease;
            text-decoration: none;
            color: $main-blue;
            border-bottom: 1px solid $main-blue;

            &:hover {
                transition: .2s ease;
                color: $main-red;
                border-bottom: 1px solid $main-red;
            }
        }
    }

    // .info-page__paragraph

    &__paragraph {
        font-size: 1em;
        font-weight: normal;
        line-height: 18px;
    }

    // .info-page__list

    &__list {
        font-size: 1em;
        font-weight: normal;
        line-height: 1.5em;

        margin: 10px 0;

        li{
            position: relative;
            margin-left: 15px;
            padding: 10px;
            &:before {
                position: absolute;
                content: "";
                left: -15px;
                top: 16px;
                height: 8px;
                width: 8px;
                border-radius: 50%;
                background-color: $main-dark-blue;
            }
        }
    }
}

.left-menu {

    // .left-menu__body

    &__body {
        font-size: 1em;
        font-weight: 500;
    }

    // .left-menu__content

    &__content {
        transition: .3s ease;

        @media (max-width: $for-tablet-and-phone-only + px) {
            height: 0px;
            overflow: hidden;
            display: none;
        }

        /*@media (max-width: $for-tablet-and-phone-only + px) {
            display: block;
            opacity: 0;
            visibility: hidden;
            position: fixed;
            left: -320px;
            top: 65px;
            width: 320px;
            height: 100%;
            background-color: $main-white;
            overflow: auto;

            transition: all 0.4s ease 0s;

            z-index: 5;

            &._active{
                opacity: 1;
                visibility: visible;
                left: 0;
            }
        }*/
    }

    // .left-menu__list

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        border-radius: $main-border-radius;
        overflow: hidden;

        li {
            border-bottom: 1px solid #e9ecef;

            &:last-child {
                border-bottom: none;
            }
        }
    }

    // .left-menu__link

    &__link {
        position: relative;

        padding: 15px 15px 15px 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        color: #666;
        background-color: white;
        position: relative;

        &:hover{
            color: black;
            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                background-color: $main-dark-blue;
                height: 100%;
                width: 3px;
            }
        }

        &._active{
            background-color: $main-dark-blue;
            color: white !important;
        }
    }

    // .left-menu__icon
    &__icon {
        text-align: center;
        flex: 0 0 40px;
        ~.left-menu__text{
            margin: 0;
        }
    }

    // .left-menu__text
    &__text {
        margin: 0 0 0 15px;
    }

    
    &__button {
        cursor: pointer;

        font-size: 1em;
        font-weight: 500;

        padding: 15px;
        text-align: center;
        background-color: white;
        border-radius: $main-border-radius;
        margin: 0 0 15px 0;
        color: #666;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

        display: none;

        @media (max-width: $for-tablet-and-phone-only + px) {
            display: block;
        }

        /*
        display: none;

        @media (max-width: $for-tablet-and-phone-only + px) {
            display: block;
        }

        position: fixed;
        width: 60px;
        height: 60px;
        right: 40px;
        bottom: 40px;
        border-radius: 50%;
        cursor: pointer;
        z-index: 999;
        background-color: $main-dark-blue;
        span {
            position: absolute;
            background-color: white;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            top: 26px;
            left: 26px;
            transition: all 0.3s ease 0s;
        }
        &:before,
        &:after {
            content: '';
            background-color: white;
            position: absolute;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            left: 26px;
            transition: all 0.3s ease 0s;
        }
        &:before {
            top: 15px;
        }
        &:after {
            bottom: 15px;
        }
        &._active:before {
            transform: rotate(45deg);
            width: 30px;
            height: 4px;
            top: 28px;
            left: 15px;
            border-radius: 0;
        }
        &._active:after {
            transform: rotate(-45deg);
            width: 30px;
            height: 4px;
            bottom: 28px;
            left: 15px;
            border-radius: 0;
        }
        &._active span {
            transform: scale(0);
        }
        */
    }
}
/*
._active{
    background-color: $main-dark-blue;
    color: white !important;
}*/

.person {

    padding: 30px;

    background-color: white;
    border-radius: $main-border-radius;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

    position: relative;

    margin: 0 0 20px 0;

    @media (max-width: $for-phone-only + px) {
        padding: 15px;
    }

    // .person__body

    &__body {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

        @media (max-width: $for-phone-only + px) {
            flex-direction: column;
            align-items: stretch;
        }
    }

    // .person__photo

    &__photo {
        /* OLD -
        background: center / cover no-repeat url("./../img/placeholder.jpg");
        border-radius: $main-border-radius;
        overflow: hidden;*/

        position: relative;

        flex: 0 0 20%;

        @media (max-width: $for-phone-only + px) {
            flex: 0 0 auto;
            margin-bottom: 15px;
        }

        &::after {
            content: '';
            width: 100%;
            padding: 0 0 125% 0;
            display: block;
        }

        img{
            object-fit: cover;
            height: 100%;
            width: 100%;

            position: absolute;
            top: 0;
            left: 0;

            // new +
            padding: 4px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
    }

    // .person__info

    &__content {
        width: 100%;
        margin-left: 30px;

        @media (max-width: $for-phone-only + px) {
            margin-left: 0;
        }

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    // .person__title

    &__name {
        h3 {
            font-size: 1.5em;
            padding-bottom: 0.4em;
            margin-bottom: 0.7em;
            border-bottom: 2px solid $main-blue;
            color: $main-blue;
        }
    }

    // .person__contacts

    &__contacts {
        font-size: 1em;
        line-height: 1.5em;
        padding: 0 30px;
        width: 50%;
        @media (max-width: $for-phone-only + px) {
            padding: 0;
            width: auto;
        }
    }

    &__row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        margin: 0 -30px 0 -30px;

        @media (max-width: $for-phone-only + px) {
            margin: 0;
            flex-direction: column;
        }
    }

    &__info {
        padding: 0 30px;
        width: 50%;
        @media (max-width: $for-phone-only + px) {
            padding: 0 0 1.25em 0;
            width: auto;
        }
        dt {
            font-weight: bolder;
        }
        dl {
            line-height: 1.5em;
        }
    }
}

.contact-card {

    padding: 30px;

    background-color: white;
    border-radius: $main-border-radius;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

    position: relative;

    margin: 0 0 20px 0;

    @media (max-width: $for-phone-only + px) {
        padding: 15px;
    }

    // .person__body

    &__body {
    }

    &__title {
        font-size: 1em;
        font-weight: bolder;
        line-height: 1.5em;
        margin-bottom: 1.25em;
    }

    // .person__contacts

    &__contacts {
        font-size: 1em;
        line-height: 1.5em;
    }
}

.contacts {

    span {
        font-size: 1em;
        width: 30px;
        text-align: center;
        padding: 0 10px 0 0;
    }

    // .contacts__list

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: $main-blue;

        li {
            margin-bottom: 1em;
        }
    }

    // .contacts__link

    &__link {
        display: inline;
    }

    // .persons_record

    &__record {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 0 0 0.5em 0;
    }
}

.drop-panel {

    background-color: #f6f9fc;
    border-radius: $main-border-radius;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

    position: relative;

    margin: 0 0 20px 0;

    position: relative;

    padding: 0;

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    // .drop-panel__body

    &__content {
        width: 100%;
        padding: 0 30px 30px 30px;

        @media (max-width: $for-phone-only + px) {
            padding: 0 15px 15px 15px;
        }
    }

    &__wrapper {
        width: 100%;
        transition: .5s ease;

        height: 0px;
        overflow: hidden;
    }

    // .drop-panel__button

    &__button {
        width: 100%;
        text-align: center;

        font-weight: bold;
        color: $main-dark-blue;

        padding: 15px 30px 15px 30px;

        @media (max-width: $for-phone-only + px) {
            padding: 15px;
        }

        cursor: pointer;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__icon {
        transition: .3s ease;
    }
}


.card {

    padding: 30px;

    background-color: white;
    border-radius: $main-border-radius;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

    position: relative;

    margin: 0 0 20px 0;

    @media (max-width: $for-phone-only + px) {
        padding: 15px;
    }

    &__body {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        @media (max-width: $for-phone-only + px) {
            flex-direction: column;
        }
    }

    &__image {
        position: relative;
        flex: 0 0 100px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        color: $main-dark-blue;
    }

    &__name {
        width: 100%;
        text-align: center;

        font-weight: bold;
    }

    &__icon {
        width: 100%;
        text-align: center;

        line-height: 64px;
        font-size: 64px;
    }

    &__description {
        margin-left: 30px;

        @media (max-width: $for-phone-only + px) {
            margin-left: 0;
        }
    }
}

.desc-table {
    font-size: 1em;
    line-height: 1.5em;

    color: black;

    &__row {
    }

    &__cell-name {
        font-weight: bold;
        padding: 5px 5px 5px 0;
    }

    &__cell {
        padding: 5px 0 5px 5px;
    }

    tr {
        &:first-child {
            .desc-table__cell-name {
                padding: 0px 5px 5px 0;
            }
            .desc-table__cell {
                padding: 0 0 5px 5px;
            }
        }
        &:last-child {
            .desc-table__cell-name {
                padding: 5px 5px 0 0;
            }
            .desc-table__cell {
                padding: 5px 0 0 5px;
            }
        }
    }
}

._phone {
}

._mail {
    text-decoration: underline;
}

._link {
    text-decoration: underline;
}

.event-block {
    width: 100%;

    color: #535353;
    background-color: #fafafa;
    border: 1px solid #f1f1f1;
    border-radius: $main-border-radius;

    padding: 30px;

    @media (max-width: $for-phone-only + px) {
        padding: 15px;
    }

    margin-bottom: 20px;

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        @media (max-width: $for-phone-only + px) {
            flex-direction: column;
        }
    }

    &__img {
        position: relative;

        flex: 0 0 25%;
        border-radius: $main-border-radius;
        overflow: hidden;

        @media (max-width: $for-phone-only + px) {
            flex: 0 0 auto;
        }

        &::after {
            content: '';
            width: 100%;
            padding: 0 0 66.5% 0;
            display: block;
        }

        img{
            object-fit: cover;
            height: 100%;
            width: 100%;

            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &__description {
        width: 100%;
        margin: 0 0 0 30px;

        @media (max-width: $for-phone-only + px) {
            margin: 15px 0 0 0;
        }

        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        font-size: 16px;
        line-height: 1.5em;
    }

    &__start {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        margin: 0 0 10px 0;
    }

    &__place {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        margin: 0 0 10px 0;
    }

    &__field {
        flex: 0 0 50%;
        font-weight: bolder;
    }
}

.article {

    padding: 30px;

    background-color: white;
    border-radius: $main-border-radius;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

    position: relative;

    margin: 0 0 20px 0;

    @media (max-width: $for-phone-only + px) {
        padding: 15px;
    }

    font-size: 1em;
    line-height: 1.5em;

    color: black;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    // .article__date

    &__info {
        font-weight: bold;
        line-height: 1em;
        color: $main-blue;

        margin-bottom: 20px;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }

    &__date {
        margin: 0 15px 0 0;
    }

    &__tags {
        margin: 0 15px 0 0;
    }

    &__views {
        margin: 0 15px 0 0;
    }

    &__icon {
        margin: 0 5px 0 0;
    }

    // .article__title

    &__title {
    }

    // .article__body

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    // .article__author

    &__author {
        font-weight: bold;
        color: $main-blue;
    }

    &__back {
        font-weight: bold;
        color: $main-blue;
    }

    // .article__control-line

    &__control-line {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        margin-top: 30px;
        line-height: 1em;
    }

    // .arcticle__quote

    &__quote {
        font-size: 1em;
        line-height: 1.5em;
        font-style: italic;

        width: 100%;
    }

    &__photo-block-2 {
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        margin-bottom: 20px;

        +.article__photo-block-2 {
            margin: 0 0 15px 0;
        }
    }

    &__photo {
        position: relative;
        width: 100%;
        margin: 0 0 20px 0;

        &::after {
            content: '';
            width: 100%;
            padding: 0 0 66.5% 0;
            display: block;
        }

        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            padding: 4px;
            border: 1px solid #ddd;

            position: absolute;
            left: 0;
            top: 0;
        }
    }

    &__order-list {
        list-style: decimal;

        font-size: 1em;
        font-weight: normal;
        line-height: 1.5em;

        ol {
            margin: 0 0 0 15px;
        }

        ul {
            margin: 0 0 0 15px;
        }

        li {
            list-style-position: inside;
            position: relative;

            padding: 0 0 1.25em 0;

            &::marker {
                font-weight: bold;
                color: $main-dark-blue;
            }
        }
    }

    &__unorder-list {
        font-size: 1em;
        font-weight: normal;
        line-height: 1.5em;

        ol {
            margin: 0 0 0 15px;
        }

        ul {
            margin: 0 0 0 15px;
        }

        li {
            position: relative;
            text-indent: 20px;

            padding: 0 0 1.25em 0;
            
            //padding: 10px;
            &:before {
                position: absolute;
                left: 0;
                top: 0.6em;
                content: "";
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: $main-dark-blue;
            }
        }
    }
}

.quote-left {
    position: relative;

    border-left: 6px solid $main-blue;

    margin-bottom: 20px;
    padding: 10px 26px;

    @media (max-width: $for-phone-only + px) {
        padding: 10px 15px;
    }

    &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: -6px;
        height: 40px;
        background-color: white;
        width: 6px;
        margin-top: -1em;
    }

    &:after {
        content: "”";
        position: absolute;
        top: 50%;
        left: -20px;
        color: $main-dark-blue;
        font-size: 50px;
        font-family: Times, sans-serif;
        font-weight: bold;
        line-height: 30px;
    }

    // .quote__body

    &__body {
        position: relative;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    // .quote__name

    &__person {
        font-weight: bold;
        color: $main-dark-blue;

        @media (max-width: $for-phone-only + px) {
            margin: 0 0 0 auto;
        }
        margin: -1.25em 0 0 auto;

        display: flex;
        flex-direction: row;
        align-items: flex-end;
        align-items: center;

        dl {
            text-align: right;
            padding: 0 15px 0 0;
        }
    }

    &__photo {
        position: relative;
        width: 100px;

        flex: 0 0 100px;


        &::after {
            content: '';
            width: 100%;
            padding: 0 0 100% 0;
            display: block;
        }

        img{
            object-fit: cover;
            height: 100%;
            width: 100%;

            position: absolute;
            top: 0;
            left: 0;

            padding: 4px;
            border: 1px solid #ddd;
            border-radius: 50%;
        }
    }
}

.quote-2 {
    position: relative;

    border-right: 6px solid $main-blue;

    margin: 5px 0;
    padding: 10px 26px;

    &:before {
        content: "";
        position: absolute;
        top: 50%;
        right: -6px;
        height: 40px;
        background-color: white;
        width: 6px;
        margin-top: -1em;
    }

    &:after {
        content: "”";
        position: absolute;
        top: 50%;
        right: -11px;
        color: $main-dark-blue;
        font-size: 50px;
        font-family: Times, sans-serif;
        font-weight: bold;
        line-height: 30px;
    }

    // .quote__body

    &__body {
        position: relative;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    // .quote__name

    &__name {
        font-weight: bold;
        color: $main-dark-blue;
        margin: 0 0 0 auto;
        text-align: right;
    }
}
